Q1 . In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

Ans -    *            =    expression
         
         'hello'      =    value
         
         -87.8        =    value
         
          -           =    expression
          
          /           =    expression
          
          +           =    expression 
          
          6           =    value

Q2. What is the difference between string and variable?

Ans -    String - String is data type in python is which we can assign value in string form.
         e.g -    S = "Anil" or S = 'Anil'
         
         Varable - From the above example we can see that we have assigned the String "Anil" or 'anil' to S.
         So here 'S' is the variable where store a certain value. It nay be String , integer , float type values.

Q3. Describe three different data types.

Ans - Below are the 3 data types :

 a) String - String is data type in python is which we can assign value in string form. You always have to put String in single              or double inverted comma's.
         e.g -    S = "Anil" or S = 'Anil'
         
 b) Integer - An integer data type in python is which has only integer values like 1 , 3, 4 ,5 ,7 etc.
            e.g  a = 123 , b = 2 , c = 45756587
            
 c) Float - Floating point data type represents value in decimal form.
             e.g - f = 0.5 , f = 45.67  , f= 0.474875

Q4. What is an expression made up of? What do all expressions do?

Ans-  Expressions are bascially reperesentation of a value .
      For e.g -  a = 23 
      here  expression  is made up of '='(operator) which represents that value '23' is assigned to variable 'a' .

Q5. This assignment statements, like spam = 10. What is the difference between an
    expression and a statement?

Ans -  In the above example spam = 10
        It show us an expression because here we are we are evaluating the value containing variable , opeartor and value.
        However when an interpeter will read and executes it will treated as a statement , because it executes what the                 statement says.

Q6. After running the following code, what does the variable bacon contain?

bacon = 22
bacon + 1

In [1]:
bacon = 22

In [2]:
bacon + 1

23

Q7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [3]:
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam' * 3

'spamspamspam'

Q8. Why is eggs a valid variable name while 100 is invalid?

Because you cannot define variable name as some integer value.
However eggs can be defined as variable name because it does not contain inverted commas as well like in string.
E.g below

In [5]:
eggs = "eggs"

In [6]:
print(eggs)

eggs

Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Ans - int() , str() , float()

Q10. Why does this expression cause an error? How can you fix it?
'I have eaten'+99+'burritos'

In [8]:
s = 'I have eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str

From the above example its clearly visible from the TypeError: can only concatenate str (not "int") to str

Fix is given below :-

In [11]:
S =  "I have eaten'+99+'burritos"

In [12]:
S

"I have eaten'+99+'burritos"

We can use double inverted commas if we are taking an integer value within the string.